header {
	background: #000200;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
	margin-left: 0;
}

nav {
	position: absolute;
	top: 125px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Roboto', Verdana, sans-serif;
}

nav a:hover {
	color: #03397B;
	text-decoration: underline;
}


.foguetes {
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
	padding-right: 500px;
}

.foguetes li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	font-family: 'Glory', sans-serif;
	margin: 0 0.33%;
	border: 2px solid #7B7D7D;
	border-radius: 10px;
}

.foguetes li:hover {
	border-color: #03397B;
	font-size: 1.09em;
}

.foguetes li:active {
	border-color: #b2b2b2;
}

.foguetes li:hover h2 {
	font-size: 35px
}

.foguetes h2 {
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	color: #D5D8DC;
	margin-top: 10px;
}

.foguetes li img {
	padding-bottom: 30px;
}

main {
	background-image: url("");
	background-size: cover;
	height: 815px;
}

.foguetes li p {
	color: #BDC1C5;
	text-align: left;
	letter-spacing: 1.6px;
	line-height: 21px;
}

.caixa h1 img {
	padding-bottom: 102px;
	padding-top: 102px;
	padding-left: 22px;
}

footer {
	text-align: center;
	background: url(background.jpg);
	color: #FFFFFF;
	font-size: 13px;
	padding: 14px 0;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label {
	display: block;
	font-size: 18px;
	margin: 0 0 10px;
}

form input {
	display: block;
	margin: 0 0 20px;
	padding: 5px 9px;
	width: 35%;
}